<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.demo.mapper.OfficeComputerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.demo.model.OfficeComputer">
        <id column="office_id" property="officeId" />
        <result column="owner" property="owner" />
        <result column="asset_number" property="assetNumber" />
        <result column="asset_type" property="assetType" />
        <result column="brand" property="brand" />
        <result column="computer_source" property="computerSource" />
        <result column="attribution_company" property="attributionCompany" />
        <result column="use_company" property="useCompany" />
        <result column="use_department" property="useDepartment" />
        <result column="use_of_state" property="useOfState" />
        <result column="machine_state" property="machineState" />
        <result column="machine_configuration" property="machineConfiguration" />
        <result column="machine_addr" property="machineAddr" />
        <result column="quantity" property="quantity" />
        <result column="unit" property="unit" />
        <result column="trade_name" property="tradeName" />
        <result column="iphone_number" property="iphoneNumber" />
        <result column="contact" property="contact" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        office_id, owner, asset_number, asset_type, brand, computer_source, attribution_company, use_company, use_department, use_of_state, machine_state, machine_configuration, machine_addr, quantity, unit, trade_name, iphone_number, contact
    </sql>

</mapper>
